.container {
   text-align: center;
   font-size: .9rem;

   .top-bar {
     margin-bottom: 1.5rem;
     p {
       margin-bottom: 0;
       font-size: 1.1rem;
     }
   }
}

body {
  background:  lighten(black, 30%);
}
