.viewer {
  .view-area {
    text-align: left;
    background: $text-background;
    min-height: $height;
    padding: 8px;

    .placeholder {
      color: lighten(gray, 10%);
      font-size: 1rem;
    }
  }
}
